* {
    margin:0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #FFF2DB;

}
.Box {
     background-color:#FFE5BF;
     padding: 20px;
     border-radius: 1rem;
     min-width: 45vh;
}
form {margin:2rem 0 1rem 0;

}
.convert-area {
    display: flex;
    justify-content: space-between;
}
input {
    width:100%;
    margin-bottom:8px;
}
.mess {
    margin-top: 1rem;
    font-size: 28px;
    
}
button {
    margin-top:1rem;
}